# Credit Card Data Exploration

In [3]:
import sys
import numpy as np
import pandas as pd
import matplotlib as mpl
import sklearn

In [4]:
print('Python version:', sys.version)
print('Numpy version:', np.__version__)
print('Pandas version:', pd.__version__)
print('Matplotlib version:', mpl.__version__)
print('Sklearn version:', sklearn.__version__)

Python version: 3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]
Numpy version: 1.26.4
Pandas version: 2.2.2
Matplotlib version: 3.8.4
Sklearn version: 1.4.2

# Loading Case Study Data

In [6]:
df = pd.read_excel('ClientCreditCard.xlsx')

C:\Users\saran\anaconda3\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [7]:
df.shape

(30000, 25)

# Verify Basic Data Integrity

In [9]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

df.head()

In [11]:
df['ID'].nunique()

29687

Less unique than number of rows (30,000) so there are duplicates.

In [13]:
id_count = df['ID'].value_counts()
id_count.head()

ID
ad23fe5c-7b09    2
1fb3e3e6-a68d    2
89f8f447-fca8    2
7c9b7473-cc2f    2
90330d02-82d9    2
Name: count, dtype: int64

In [14]:
id_count.value_counts()

count
1    29374
2      313
Name: count, dtype: int64

There are 313 ID's that appear twice. 29374 + 2 * 313 = 30000

# Boolean Masks

In [28]:
np.random.seed(seed=24)
random_integers = np.random.randint(low=1, high=5, size=100)